[submodule "thirdparty/Scal3R"]
	path = thirdparty/Scal3R
	url = git@github.com:wangxinjian1108/Scal3R.git
[submodule "thirdparty/lingbot-map"]
	path = thirdparty/lingbot-map
	url = git@github.com:wangxinjian1108/lingbot-map.git
[submodule "thirdparty/sam3"]
	path = thirdparty/sam3
	url = git@github.com:wangxinjian1108/sam3.git
[submodule "thirdparty/LoGeR"]
	path = thirdparty/LoGeR
	url = git@github.com:wangxinjian1108/LoGeR.git
[submodule "thirdparty/vggt"]
	path = thirdparty/vggt
	url = git@github.com:wangxinjian1108/vggt.git
[submodule "thirdparty/ZipMap"]
	path = thirdparty/ZipMap
	url = git@github.com:wangxinjian1108/ZipMap.git
[submodule "thirdparty/Pi3"]
	path = thirdparty/Pi3
	url = git@github.com:wangxinjian1108/Pi3.git
[submodule "thirdparty/Pi-Long"]
	path = thirdparty/Pi-Long
	url = git@github.com:wangxinjian1108/Pi-Long.git
[submodule "thirdparty/VGGT-Long"]
	path = thirdparty/VGGT-Long
	url = git@github.com:wangxinjian1108/VGGT-Long.git
[submodule "thirdparty/StreamVGGT"]
	path = thirdparty/StreamVGGT
	url = git@github.com:wangxinjian1108/StreamVGGT.git
[submodule "thirdparty/map-anything"]
	path = thirdparty/map-anything
	url = git@github.com:wangxinjian1108/map-anything.git
[submodule "thirdparty/FoundationStereo"]
	path = thirdparty/FoundationStereo
	url = git@github.com:wangxinjian1108/FoundationStereo.git
[submodule "thirdparty/hierarchical-3d-gaussians"]
	path = thirdparty/hierarchical-3d-gaussians
	url = https://github.com/graphdeco-inria/hierarchical-3d-gaussians.git
[submodule "thirdparty/colmap"]
	path = thirdparty/colmap
	url = https://github.com/colmap/colmap.git
[submodule "thirdparty/vggt-omega"]
	path = thirdparty/vggt-omega
	url = git@github.com:wangxinjian1108/vggt-omega.git
